// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gallows {
  min-height: 250px;
  margin: 20px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.gallows-state-0 {
    background-image: image_url('gallows-0.png');
  }

  &.gallows-state-1 {
    background-image: image_url('gallows-1.png');
  }

  &.gallows-state-2 {
    background-image: image_url('gallows-2.png');
  }

  &.gallows-state-3 {
    background-image: image_url('gallows-3.png');
  }

  &.gallows-state-4 {
    background-image: image_url('gallows-4.png');
  }

  &.gallows-state-5 {
    background-image: image_url('gallows-5.png');
  }
}

.word {
  text-align: center;
  margin-top: -5px;
  margin-bottom: -5px;
  display: inline-block;
  
  .word-letter {
    font-size: 24px;
    padding: 4px;
    border: 1px solid #ccc;
    min-height: 40px;
    display: inline-block;
  }
}

.letters {
  margin-top: 25px;

  .letter {
    font-size: 24px;
    margin-top: 10px;

    input {
      margin-bottom: 0;
    }
  }
}

.game-status .label {
  font-size: 20px;
}

.game-actions {
  margin-top: 40px;
}

#notice_wrapper {
  margin-top: -251px;
  margin-left: 42%;
  top: 0;
  height: 146px;
  width: 17%;
  z-index: 10000;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.98);
    .notice, .alert {
      padding: 2.5rem 0;
      text-align: center;
      margin: 0;
      font-size: 100%;
      font-weight: 900;
      color: #22BB5B;
      letter-spacing: 3px;
    }
}

.home {
  background-color: #22BB5B;
}

#welcome { 
  color: white;
  margin-top: 100px;
}